# Лабораторная работа 3
## Строки и операции с ними.

#### Результаты этой лабораторной работы будут проверяться автоматически. Пожалуйста, выполняйте задания в точности так как указано, создавайте переменные с указанными в задании именами.

### Задание 1
- Задайте список имён файлов:
```Python
t1_l = ['iris.png', 'azalea.txt', 'iris.csv', 'dahlia.csv', 'bryony.csv', 'bryony.png', 'dahlia.jpeg', 'azalea.png', 'iris.rtf']
```
- Воспользовавшись методами `str` создайте список `t1_csv` содержащий только `.csv` файлы
- Воспользовавшись методами `str` создайте список `t1_iris` содержащий только файлы с названием `iris` (всех расширений)

In [ ]:
# Здесь будет ваш код

### Задание 2
- Задайте строку
```Python
t2_str = """Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."""
```
- Создайте список `t2_sentences` и запишите в него строку `t2_str` разбитую на предложения. Предложение начинается с заглавной буквы и заканчивается точкой (не должно быть пробелов перед началом и после конца предложения)

In [ ]:
# Здесь будет ваш код

['Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
 'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.']

### Задание 3
- Задайте словарь с записью результатов экзамена
```Python
t3_d = {'Ann': 10, 'Bob': 4, 'Clark': 8, 'Dan': 2, 'Ellen': 5}
```
- Запишите результаты экзамена в виде строки `t3_s` следующего вида:
```Python
"""
Имя: оценка
Имя: оценка
...
"""
```
Обратите внимание: после двоеточия стоит пробел, оценка должна быть выведена как целое число, каждое имя на своей строке. Последовательность имён любая. В конце строки не должно быть `\n`, пустых строк не должно быть.

In [ ]:
# Здесь будет ваш код

### Задание 4
- Задайте список чисел
```Python
t4_l = [0, 100, 1e-4, 30, 90, 70, 21, 321]
```
- Преобразуйте его в список `t4_ls` так, чтобы каждое число стало строкой и так чтобы все эти строки были одной длины, сохранив при этом очередность.